h1 {color: darkgreen;
font-size: 80px;}
body{background-image: url(../images/dice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: darkgreen;
    background-color: black;
        
}
.center {text-align: center;}
li {display: flex;
    position: relative;
    line-height: 30px; 
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 25;
    border: 1px white solid;
    width: 30px;
    height: 30px;
    vertical-align: middle;
margin-top: 3px;
    }
input {width:40px;
    text-align: center;}
